spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/${db}
    username: ${user}
    password: ${pw}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 2000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  devtools:
    livereload:
      enabled: true


jwt:
  secret: ${jwt}
  access-expiration-time: 7200000
  refresh-expiration-time: 86400000
